body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

table {
  border: 4px solid #a5d8ff;
  border-collapse: collapse;
  box-sizing: content-box;
}

th {
  border: 1px solid #55b8ff;
  padding: 10px 32px;
  background: #ceeaff;
}

td {
  border: 2px dashed #a5d8ff;
  padding: 0;
  font-size: 14px;
  text-align: center;
  min-width: 150px;
}

td.used {
  position: relative;
  background: #e7f5ff;
}

td.used:hover .lesson_actions {
  display: block;
}

.lesson_actions {
  display: none;
}

.h-1 {
  height: 40px;
}

.h-2 {
  height: 80px;
}

.h-3 {
  height: 120px;
}

.h-4 {
  height: 160px;
}

.h-5 {
  height: 200px;
}

.h-6 {
  height: 240px;
}

.h-7 {
  height: 280px;
}

.h-8 {
  height: 320px;
}

.h-9 {
  height: 360px;
}

.h-10 {
  height: 400px;
}
